* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.container {
  background: #fff;
  padding: 30px;
  width: 375px;
  height: 812px;
  border: 1px solid #dbdbdb;
  text-align: center;
  border-radius: 8px;
}

.language {
  text-align: center;
  margin-bottom: 190px;
  display: inline-block;
  width: 100%;
}

.lang-select {
  border: none;
  color: #868686;
  font-size: 12px;
  cursor: pointer;
  background-color: transparent;

}

.lang-select option {
  background: white;
  color: #262626;
}

.logo {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-size: 11px;
  background: #fafafa;
  width: 320px;
  height: 40px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn {
  background: #0095f6;
  color: white;
  opacity: 0.6;
  margin-top: 1px;
}

.signin-text {
  font-size: 8px;
  margin: 9px 0;
  color: gray;
}

.signin-text a {
  text-decoration: none;
  color: black;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 10px;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #dbdbdb;
  margin: 0 10px;
}

.fb {
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    width: 290px;
}

.fb-logo {
    font-size: 22px;
    font-weight: bold;
}

.fb-text {
    font-size: 12px;
    font-weight: normal;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}