


/* Profile page */

.firstSection {
    padding-top: 20px;
}

.profile {
    gap: 50px;
    padding: 0 20px;
}

.profileCommunity {
    width: 100%;
}

.profileDescription {
    padding: 0 20px;
    padding-top: 6px;
    gap: 2px;
}

.link {
    color: #0F4D73;
}

.profileButtons {
    gap: 14px;
    padding: 0 20px;
    padding-top: 8px;
}

.follow {
    background-color: #1877F2;
    color: #fff;
}

.message {
    background-color: #DFDFDF;
}

.friend {
    background-color: #DFDFDF;
}

.storyes {
    padding: 0 20px;
    padding-top: 17px;
    overflow-x: scroll;
    gap: 10px;
}

.story>button {
    width: 58px;
    height: 58px;
    border: 1px solid #7E7E7E;
    border-radius: 100%;
}

.story img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.galaryMenu {
    display: flex;
    padding: 0 34px;
    padding-bottom: 12px;
    padding-top: 18px;
}

.galaryMenu button {
    width: 22px;
    height: 22px;
}

.galaryPhoto {
    display: grid;
    overflow: scroll;
    height: 342px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
}

.galaryPhoto>img {
    height: 125px;
}

.width-124 {
    width: 124px;
}